body {
  background-color: #e0f8cf;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.header {
  
}

.home {
  display: none;
}

.single-player {
  display: none;
}

.container {
  display: flex;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 428px) {
  .container {
    flex-direction: column;
  }
  .container > * {
    width: 100%;
  }
}

.left-panel {
  display: grid;
  gap: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.gameboard {
  border: 1px solid gray;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
}

.main-container {
  display: grid;
  gap: 20px;
  width: 100%;
}

.aircraft-carrier {
  width: 200px;
  background: black;
}

.battleship {
  width: 160px;
  height: 20px;
  background: black;
}

.cruiser {
  width: 120px;
  height: 20px;
  background: black;
}

.submarine {
  width: 120px;
  height: 20px;
  background: black;
}

.destroyer {
  width: 80px;
  height: 20px;
  background: black;
}

.cell {
  height: 50px;
  width: 100%;
  border: 1px solid black;
}

button {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.ship {
  height: 20px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}